prod:
    name: "production"
    machines:
        - worker-1
        - worker-2
        - worker-3

test:
    name: "testing"
    machines:
        - test-worker-1
        - test-worker-2
    branch: master
    virtualenv: /path/to/venv

dev:
    name: "development"
    machines:
        - dev-worker-1
    remote: jdoe
    branch: fix-1234
    python_version: 2.7
