# source code base dir
src_base_dir = "/opt/indico/src"

# branch to checkout
remote = 'origin'
branch = 'master'
plugin_branch = "master"
cern_plugin_branch = "master"

# Python version eggs will be built for
py_version = '2.6.9'

# (remote) path where eggs will be temporarily stored
remote_tmp_dir = '/tmp/indico-install/'

# Python executable to run (locally)
PYTHON_EXEC = 'python2.6'

# easy_install executable to run (remotely)
EASY_INSTALL_EXEC = 'easy_install-2.6'

indico_dir = '/opt/indico'
user = 'pferreir'

# path for virtualenv where Indico will be installed
virtualenv = None

# indico plugins
plugins = []

# cern-specific indico plugins
cern_plugins = []
